name: CD

on:
    push:
        branches:
         - main
jobs:
    deploy:
        runs-on: self-hosted

        steps:
          - name: Checkout du code
            uses: actions/checkout@v4
        
          - name: Pull de GitHub
            shell: powershell
            run: |
                cd $env:GITHUB_WORKSPACE
                git pull origin main
        
          - name: redemarrer
            shell: powershell
            run: |
                cd $env:GITHUB_WORKSPACE 
                docker compose up -d --build

        